.input {
  background-color: var(--base-gray-500);
  padding: 1rem;
  border-radius: 8px;
  width: 638px;
  border: 1px solid var(--base-gray-700);
  outline: none;
  color: var(--base-gray-300);
}

.input:focus {
  border-color: var(--product-purple-dark);
  color: var(--base-gray-100);
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
  margin-bottom: 64px;
}

.button {
  margin-left: 8px;
}

@media (max-width: 801px) {
  .bar {
    width: 85%;
    min-width: 300px;
    margin: 0 auto;
    margin-top: -25px;
    margin-bottom: 64px;
  }
  .input {
    width: 85%;
    min-width: 300px;
  }
}

@media (max-width: 480px) {
  .bar {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .button {
    margin: 12px auto;
  }
}
