.content {
  text-align: center;
  width: 736px;
  margin: 0 auto;
  padding-top: 64px;
  display: grid;
  grid-template-rows: 1fr;
  border-top: 1px solid var(--base-gray-400);
  border-radius: 8px;
}

.content > img {
  margin: 1rem auto;
}

@media (max-width: 801px) {
  .content {
    width: 85%;
    min-width: 300px;
  }
}
